/node_modules
/public/storage
Homestead.yaml
Homestead.json
.env
/storage/framework/views/*
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/logs
composer.lock
*.swp
*.swo
log.txt
Makefile
/public/jpush.log
